In [16]:
import matplotlib.pyplot as plt
import numpy
import pandas

import seaborn
seaborn.set_context('talk')
pandas.set_option("display.max_columns", None)

melb_df = pandas.read_csv('https://www.famaf.unc.edu.ar/~nocampo043/no_nan_values_melb.csv')
melb_df[:3]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,suburb_count,CouncilArea_mode
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,137.374429,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,56,Yarra
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.000000,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,56,Yarra
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.000000,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,56,Yarra

In [17]:
melb_df = melb_df.drop(columns=["Address", "Date", "CouncilArea_mode"])

In [18]:
categorical_vars = ['Suburb', 'Type', 'Method', 'SellerG', 'CouncilArea', 'Regionname']
numerical_vars = list(set(melb_df.columns) - set(categorical_vars))

In [19]:
categorical_vars

['Suburb', 'Type', 'Method', 'SellerG', 'CouncilArea', 'Regionname']

In [20]:
melb_df[categorical_vars]

,Suburb,Type,Method,SellerG,CouncilArea,Regionname
0,Abbotsford,h,S,Biggin,Yarra,Northern Metropolitan
1,Abbotsford,h,S,Biggin,Yarra,Northern Metropolitan
2,Abbotsford,h,SP,Biggin,Yarra,Northern Metropolitan
3,Abbotsford,h,PI,Biggin,Yarra,Northern Metropolitan
4,Abbotsford,h,VB,Nelson,Yarra,Northern Metropolitan
...,...,...,...,...,...,...
10691,Werribee,h,S,hockingstuart,Wyndham,Western Metropolitan
10692,Williamstown,h,SP,Williams,Hobsons Bay,Western Metropolitan
10693,Williamstown,h,S,Raine,Hobsons Bay,Western Metropolitan
10694,Williamstown,h,PI,Sweeney,Hobsons Bay,Western Metropolitan
10695,Yarraville,h,SP,Village,Maribyrnong,Western Metropolitan

## Exercise

- Encode all the categorical columns of `melb_df` using one hot encoder.
- Apply PCA to the numerical columns of `melb_df`.